#app {
  /* display: inline-block */
  font-family: 'Shrikhand', cursive;
  display: inline-flex;
  width: 100%
}

#top-title {
  position: absolute;
  border: 5px solid brown;
  margin-left: 400px;
}

#zip-container {
  display: block;
  justify-content: center;
  align-items: center;
  border-left: 50px;
  border: 5px solid black;
  width: 600px;
}

#chat-container {
  width: 100%;
  height: 40%;
  border: 3px solid red;
  overflow: scroll;
}

#message-container {
  border: 3px solid green;
}

#orgs-list {
  width: 100%;
  height: 50%;
  border: 3px solid blue;
  overflow: scroll;
}

#af-zip-article {
  border: 1px solid black;
  background-color: rgb(0, 255, 0)
}

#af-zip-article:hover {
  background-color: yellow;

}

#af-your-city {
  display: inline-flex;
}

#af-zip-rank {
  font-family: 'Shrikhand', cursive;
  position: absolute;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  width: 200px;
  float: left;
  height: 650px;
  overflow: scroll;
}

#af-zip-rank::-webkit-scrollbar {
  display: none;
}

#af-map {
padding-left: 100px;
padding-right: 20px;
width: 1000px;
height: 800px;
}

#af-current-zip:hover {
  background-color: yellow;
  color: yellow;

}

#judgement {
  float: right;
}