#app {
  /* display: inline-block */
  /* font-family: 'Shrikhand', cursive; */
  font-family: 'Roboto', sans-serif;
  background-color: #fff7e4;


  width: 100%
}
#topbar {
  /* color: #36454f; */
  color: black;
padding-top: 10px;
text-align: center;

  border: 1px solid black;
  width: 100%;
  height: 30px;
}

#rest-of-app {

  /* margin-top: 30px; */
  display: flex;
}

#top-title {
  padding: 5px;
  position: absolute;
  float: left;
  color: #222426;
  font-family: 'Shrikhand', cursive;
  font-size: 500%;
  width: 650px;
  float: left;
  height: 650px;
  position: absolute;
  /* border: 1px solid brown; */
  z-index: 0;
  /* margin-left: 400px; */
  overflow-wrap: break-word;
}

#top-message-container {
  margin: 10px;
  width: fit-content;
  height: fit-content;

}

#zip-container {
  margin-top: 10px;
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  border-left: 50px;
  border: 1px solid black;
  width: 600px;
  height: 700px;
}

#chat-container {
  width: 100%;
  height: 96%;
  /* border: 1px solid red; */
  overflow: scroll;
}

#chat-container::-webkit-scrollbar {
  display: none;
}

#message-box {
height: 70px;
}

#message-container {
  text-align: left;
  border: 1px solid black;
  /* height: 50px; */
  padding: 5px;
  margin: 10px;
  height: 75px;
  overflow: hidden;
  /* box-shadow: 0 1px 6px 0; */
}

#message-content {
  font-weight: 300;

}

#comments-window {
  /* position: relative; */
  /* position: absoulte; */
  /* border: 1px solid lightcoral; */
  margin: 10px;
  transition-duration: 0.6s;
  height: 700px;

}

#orgs-list {
  width: 100%;
  height: 50%;
  border: 1px solid blue;
  overflow: scroll;
}

#af-zip-article {
  border: 1px solid black;
  background-color: rgb(0, 255, 0)
}

#af-zip-article:hover {
  background-color: yellow;

}

#af-your-city {
  display: inline-flex;
}

/* #af-zip-rank {
  font-family: 'Shrikhand', cursive;
  position: absolute;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  width: 200px;
  float: left;
  height: 650px;
  overflow: scroll;
} */

#af-zip-rank::-webkit-scrollbar {
  display: none;
}

#af-map {

padding-left: 100px;
padding-right: 20px;
width: 1000px;
height: 800px;
z-index: 1
}

#af-current-zip:hover {
  background-color: yellow;
  color: yellow;

}

#single-comment {
  padding-left: 5px;
  padding-top: 3px;
  border: 1px solid black;
  min-height: 30px;
  overflow: hidden;
  margin: 5px;
}

#judgement {
  float: right;
  top: 1px;
}

#comment-judgement {
  float: right;

}
/*
#comments-icon {

} */

#submit {
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 0;
  width: 50px;
}

#comments-icon {
  width: 50px;
  height: 50px;
  color: #222426;

}